@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
    background-color: #d3d1d4;
}
.table-container{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 99vh;
    font-family: 'Poppins', sans-serif;
}
.table-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    width: 50%;
    height: 4.5vh;
    font-size: 20px;
    color: rgb(92, 92, 92);
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}
.table-contain1{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 4.5vh;
    font-size: 16.5px;
    color: rgb(92, 92, 92);
    background-color: rgb(230, 230, 230);
}
.table-contain1:hover{
    border: 1px solid black;
}